* {
	color: black;
	/*background-color: white;*/
	text-decoration: none;
}

#header {
    background-color: #EEEEEE;

    padding: 10px 10px 10px 10px;
}

#title {
    font-size: 3em;
    background-color: #EEEEEE;
}

#login {
    float: right;
    display: inline;
    
    margin: 10px 5px 10px 5px;
    padding: 5px 15px 5px 15px;
    
    border-radius: 5px;
    border-style: solid;
    border-color: #888888;
}

#submit {
    text-align: center;
 
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    
    border-radius: 5px;
    background-color: #CCCCCC;


}

#menu {
	float:left;

    background-color: #EEEEEE;
}


.menu-item {

	text-align: center;
	display: block;

	margin: 10px 5px 10px 5px;
	padding: 5px 15px 5px 15px;
	
	border-radius: 5px;
    background-color: #CCCCCC;

}

#content {
    float:left;
    
	border-radius: 5px;

	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

#footer {
	clear:both;
	text-align:center;
	width: 100%;

    background-color: #EEEEEE;

}

.tab {
    border-style: solid;
    border-width: 2px;

    display: table-row;
}

.tab .header {
    height: 100%;
    width: 150px;
    /*padding: 5px 5px 5px 5px;*/

    display: table-cell;
}

.tab .page {
    background-color: #dddddd;
    cursor: pointer;

    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;

    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

}

.tab .page.selected {
    background-color: #ffffff;
    border-right-style: none;
}


.tab .content {
    display: table-cell;

    padding: 5px 5px 5px 5px;
}


