<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>CharacterServlet</servlet-name>
        <servlet-class>nightprowler.server.CharacterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CharacterServlet</servlet-name>
        <url-pattern>/character/*</url-pattern>
    </servlet-mapping>
</web-app>
