* {
	color: black;
	background-color: white;
	text-decoration: none;
}

#header {
    background-color: #EEEEEE;

    padding: 10px 10px 10px 10px;
}

#title {
    font-size: 3em;
    background-color: #EEEEEE;
}

#login {
    float: right;
    display: inline;
    
    margin: 10px 5px 10px 5px;
    padding: 5px 15px 5px 15px;
    
    border-radius: 5px;
    border-style: solid;
    border-color: #888888;
}

#submit {
    text-align: center;
 
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    
    border-radius: 5px;
    background-color: #CCCCCC;


}

#menu {
	float:left;

    background-color: #EEEEEE;
}


.menu-item {

	text-align: center;
	display: block;

	margin: 10px 5px 10px 5px;
	padding: 5px 15px 5px 15px;
	
	border-radius: 5px;
    background-color: #CCCCCC;

}

#content {
    float:left;
    
	border-radius: 5px;

	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

#footer {
	clear:both;
	text-align:center;
	width: 100%;

    background-color: #EEEEEE;

}

